Makefile
Makefile.in
.deps/
.libs/
*.o
*.lo
*.la
*~
*.[1-9]

/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ar-lib
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/m4/

/src/.vcc
/src/vcc_if.c
/src/vcc_if.h
/src/*.rst
/src/tests/*.trs
