Source: vmod-querystring
Priority: optional
Maintainer: Dridi <dridi.boukelmoune@gmail.com>
Build-Depends:
 debhelper (>= 9),
 libvarnishapi-dev (>= 4.1.3),
 pkg-config (>= 0.21),
 python-docutils,
 varnish (>= 4.1.3)
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/dridi/libvmod-querystring

Package: vmod-querystring
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 varnish (>= 4.1.3)
Description:
 The purpose of this module is to give you a fine-grained control over a URL's
 query-string in Varnish Cache. It's possible to remove the query-string, clean
 it, sort its parameters or filter it to only keep a subset of them.
 This can greatly improve your hit ratio and efficiency with Varnish, because
 by default two URLs with the same path but different query-strings are also
 different. This is what the RFCs mandate but probably not what you usually
 want for your web site or application.
 A query-string is just a character string starting after a question mark in a
 URL. But in a web context, it is usually a structured key/values store encoded
 with the `application/x-www-form-urlencoded' media type. This module deals
 with this kind of query-strings.
