Source: vmod-querystring
Priority: optional
Maintainer: Dridi <dridi.boukelmoune@gmail.com>
Build-Depends:
 debhelper (>= 9),
 libvarnishapi-dev (>= 4.1),
 pkg-config (>= 0.21),
 python-docutils,
 varnish (>= 4.1)
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/dridi/libvmod-querystring

Package: vmod-querystring
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 varnish (>= 4.1)
Description: Varnish multipurpose module for URL query-string manipulation.
 Can be used to normalize for instance request URLs or Location response
 headers in various ways. It is recommended to at least clean incoming request
 URLs (removing empty query-strings), all other functions do the cleaning.
